

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




* {
	margin:0px;
	padding:0px;

}

.control_panal {

	background-color: rgba(0,0,0,0.9);
    position: absolute;
    left: 0px;
    width: 250px;
    top: 0px;
    bottom: 0px;
}

.scene_control {
    background-color: rgba(0,0,0,0.9);
    width: 277px;
    position: absolute;
    right: 100px;
    bottom: 50px;
}

.scene_control_item {

    color: white;
    display: inline;
    margin: 5px;
    border: 1px solid;


}


.loading {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
    background-color: rgba(0,0,0,0.9);
}

.loading * {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.control_panal_title {
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}




